@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');



body {
    margin: 0%;

}

#icono {
    background-color: #0A91AB;


    padding: 1;

}

#subtitulo {
    padding-left: 2%;

}

img {
    margin-left: 33%;
    display: block;
    width: 30%;
    height: 20%;
    padding: 4%;

}


#top {

    background-color: #FFC045;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0%;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
    transition: 1s;
    position: sticky;
    top: 0;
}

#links {
    padding: 1%;
    margin: 1%;

}

#links:hover {
    color: #0A91AB;


}

h3 {
    color: #0A91AB;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;

}


#flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#juego {

    border-color: #FFC045;
    border-top: 10%;
    border-style: dotted;
    margin: 1%;
    padding: 0%;
    width: 30%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

#fotojuego1 {

    margin-left: 0%;
    display: block;
    width: 100%;
    height: 20%;
    padding: 0%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;




}

#info {
    padding: 10px 20px;
    background-color: #FFC045;
    color: black;
    text-decoration: none;
    border-radius: 5px;


}


#infoborde {

    display: flex;
    justify-content: flex-end;
    margin: 10px;
}


#titulojuego {
    text-decoration: none;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    color: #FFC045;
    font-weight: bold;
    margin-top: 0%;
    padding: 3%;


}



#textojuego {
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    padding: 3%;
    align-items: center;


}

#fotojuego2 {

    margin-left: 0%;
    display: block;
    width: 100%;
    height: auto;
    padding: 0%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;



}

#fotojuego3 {

    margin-left: 0%;
    display: block;
    width: 100%;
    height: auto;
    padding: 0%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}



#fotojuego4 {

    margin-left: 0%;
    display: block;
    width: 100%;
    height: auto;
    padding: 0%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}



#fotojuego5 {

    margin-left: 0%;
    width: 100%;
    height: auto;
    padding: 0%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}


#fotojuego6 {

    margin-left: 0%;
    width: 100%;
    height: auto;
    padding: 0%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

#trucosAside {
    background-color: #0A90AB25;
    border-color: black;
    border-top: 10%;
    border-style: dotted;
    margin: 1%;
    padding: 0%;
    width: 600px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    display: flex;
    flex-direction: column;
    height: 1250px;

}


#tituloAside {

    text-align: center;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    color: #0A91AB;

}

#tituloTruco {

    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    color: #FFC045;
    font-weight: bold;
    margin-top: 0%;
    padding: 3%;
    text-decoration: none;
    text-align: center;



}

#textoTruco {
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    text-align: center;

}


#seccion {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}


#noticiasFlex {
    width: 70%;
    height: 500px;

}

#tituloNoticias {

    text-align: center;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    color: #0A91AB;
}


#listaflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

#noticia {

    border-color: #FFC045;
    border-top: 10%;
    border-style: dotted;
    margin: 1%;
    padding: 0%;
    width: 45%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}


#titulonoticia {

    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    color: #FFC045;
    font-weight: bold;
    margin-top: 0%;
    padding: 3%;
    text-decoration: none;
    font-size: large;
    text-align: center;



}

#barra {

    background-color: #FFC045;
    height: 5px;
    width: 98%;
    margin: 1%;
    border: 0px;




}

#flexVertical {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

#flexROW {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;

}

#fotoRANKING {

    margin-left: 100%;
    margin-right: 100%;
    width: 150px;
    height: 150px;
    padding: 0%;
    border-radius: 100%;

}

#tituloRanking {

    color: #0A91AB;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;

}

#nombreUsuario {

    color: #FFC045;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;

}

#footer {
    background-color: #8A8070;

}

#redesSociales{
    justify-items: left,top;
    
}

#copyright{
    justify-items: center,bottom;
    text-align: center;
    
}

#direccion{
    text-align: right;
    align-items:end ;
    padding-right: 2%;
}


#tablaJuegos{
    width: 50%;
    height: 25%;


}


#flexListado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;



}


#juegoListado{
    display: flex;
    border-color:black;
    border-top: 10%;
    border-style:groove;
    margin: 1%;
    padding: 0%;
    width: 95%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    justify-content: flex-start;
    background-color:darkgray;
    flex-direction: row;
}
