body{
    margin: 0%;

}

#ICONO{
    background-color: #0A91AB;


    padding: 1;

}

img{
    margin-left: 33%;
    display: block;
    width: 30%;
    padding: 4%;

}

#TOP{

    background-color: #FFC045;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1%;
    font-family: 'Kanit','Maven Pro','Helvetica','Arial','sans-serif';
    
}

#Links{
    
    

}

#Links:hover{
    color: #0A91AB;
    

}